---
title: "Die Wissensbasis zur Theorie von Burkhard Heim"
description: "Das Heim Projekt hat es sich zum Ziel gesetzt, Wissen und Quellen zur Theorie von Burkhard Heim zu sammeln."
priority: 0.63
---

.row
  %header.span12#hero
    %h1 Über das Heim Projekt
    %p
      Das Heim Projekt ist die Knowlegde Base zur Heimschen
      Quantenfeldtheorie. Ich habe mir zum Ziel gesetzt, hier alles
      Wissen über die Theorie zu sammeln und zur veröffentlichen.

  .span6
    %h1 Neueste Artikel
    - blog.articles.each do |article|
      %h2= link_to article.title, article.url
      <author>Markus Fenske</author> am
      <time>#{article.date.strftime('%d.%m.%Y')}</time>
  .span6
    %h1 Neueste Seiten
    %h2= link_to "Über diese Seite", "/ueber-diese-seite/"
    %h2= link_to "Quellen", "/quellen.html"

