!!!
%html
  %head
    %meta{charset: "utf-8"}
    = stylesheet_link_tag "main"
    %title Mein Blog
  %body
    #header
      .container
        #logo
          %a{href: "/"}
            = image_tag "iblue.png"
            %h1 iblue
        #topnav
          %h1 das iblue blog
    #main.container= yield

