!!!
%html
  %head
    %meta{charset: "utf-8"}
    = stylesheet_link_tag "main"
    %title Mein Blog
  %body
    #header
      .container
        #logo
          = image_tag "iblue.png"
        #topnav
          %h1 Some much to code, so less time...
    #main.container
      .span12= yield

