!!!
%html
  %head
    -# The charset will be specified by the server. If we run into trouble,
    -# re-enable this
    -#%meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "main"
    - if is_blog_article?
      %title= current_article.title
    - else
      %title Burkhard Heims Einheitliche Quantenfeldtheorie
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34358956-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    -# Asyncronous loader for MathJax
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({
      extensions: ["tex2jax.js", "TeX/AMSsymbols.js",],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {inlineMath: [['$','$'], ['$$','$$']]},
      "HTML-CSS": {linebreaks:{automatic: true}}
      });
    :javascript
      (function() {
        var m = document.createElement('script'); m.type = 'text/javascript'; m.async = true;
        m.src = '/javascripts/MathJax-8c9d583e/MathJax.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(m, s);
      })();
  %body
    #header
      .container
        #logo
          %a{href: "/"}
            = image_tag "iblue.png", :height => "48", :width => "46"
            %h1 iblue
        #topnav
          %h1 heim projekt
    #main.container= yield
